.contacts {
  width: 320px;
  margin: 0 auto;
  margin-top: 22px;
}

@media (min-width: @tablet-width) {
  .contacts {
    position: relative;
    width: @tablet-width;
    margin: 0 auto;
    margin-top: 43px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    width: @desktop-width;
    margin: 0 auto;
  }
}
