.contacts {
  width: 320px;
  madrgin: 0 auto;
}

@media (min-width: @tablet-width) {
  .contacts {
    position: relative;
    width: @tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    width: @desktop-width;
    margin: 0 auto;
  }
}
