@Exo2: 'Exo 2', 'Arial', sans-serif;
@Exo2semi: 'Exo 2 semi', 'Arial', sans-serif;
@Roboto: 'Roboto', 'Arial', sans-serif;

@font-face {
  font-family: 'Exo 2';
  font-weight: normal;
  font-style: normal;
  src:
  url('../fonts/exo2.woff2') format('woff2'),
  url('../fonts/exo2.woff') format('woff');
}

@font-face {
  font-family: 'Exo 2';
  font-weight: 300;
  font-style: normal;
  src:
  url('../fonts/exo2light.woff2') format('woff2'),
  url('../fonts/exo2light.woff') format('woff');
}

@font-face {
  font-family: 'Exo 2';
  font-weight: 500;
  font-style: normal;
  src:
  url('../fonts/exo2medium.woff2') format('woff2'),
  url('../fonts/exo2medium.woff') format('woff');
}

@font-face {
  font-family: 'Exo 2 semi';
  font-style: normal;
  src:
  url('../fonts/exo2semibold.woff2') format('woff2'),
  url('../fonts/exo2semibold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src:
  url('../fonts/Roboto-Regular.woff') format('woff');
}
