.green-btn__price {
  font-family: @main-font-semi;
  font-size: 20px;
  line-height: 24px;
  &--ability {
    font-size: 51px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.green-btn__text {
  font-family: @main-font;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 0;

  &--ability {
    font-weight: 300;
    line-height: normal;
    font-size: 21px;
    text-align: center;
    line-height: 25px;
    color: @white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.green-btn {
  background-color: @green;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  position: relative;

  &--ability {
    width: 141.51px;
    height: 139.38px;
  }
}

.green-btn__arrow {
  display: block;
  position: absolute;
  bottom: -12px;
  left: 32px;
  width: 25.25px;
  height: 25.25px;
  background-color: @white;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;

}
