.idea {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: @Exo2;
}
.idea__block {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;

  &--1 {
    background: url(../images/idea_mob_1.jpg) no-repeat 0 50px;
  }

  &--2 {
    background: url(../images/idea_mob_2.jpg) no-repeat 0 51px;
  }
}

.idea__button {
  margin-left: 23px;
  margin-bottom: 31px;
}

.idea__block--1 .idea__description-block {
  background-color: rgba(255, 255, 255, 0.45);
}

.idea__block--2 .idea__description-block {
  background-color: rgba(0, 0, 0, 0.45);
}

.idea__caption {
  margin-top: 11px;
  margin-bottom: 0;
  line-height: 19px;
  font-size: 16px;
  font-family: @Exo2semi;
  color: #ffffff;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;	border-top: 10px solid #ff6108; border-right: 10px solid #ff6108;
    bottom: -13px;
    left: 7px;
  }
}

.idea__block--1 .idea__caption {
  background-color: #ff6108;
  padding: 9px 17px 13px 17px;
}

.idea__block--2 .idea__caption {
  background-color: #2e2e2e;
  padding: 20px 10px 21px 12px;
  width: 160px;
  position: relative;
  z-index: 1;

  &::after {
    border: 10px solid transparent;
    border-top: 10px solid #2e2e2e;
    border-right: 10px solid #2e2e2e;
    bottom: -13px;
    left: 18px;
  }
}

.idea__header {
  margin: 0;
}

.idea__description {
  font-size: 20px;
  line-height: 29px;
  padding: 41px 20px 8px 20px;
  font-weight: 500;
  margin: 0;

  & span {
    font-family: @Exo2semi;
  }
}

.idea__block--2 .idea__description-block {
  margin-top: -20px;
}

.idea__block--2 .idea__description {
  padding-top: 61px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .idea {
    width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .idea__header {
    width: 768px;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 20px;
  }

  .idea__block {
    width: 384px;

    &--1 {
      background: url(../images/idea_tab_1.jpg) no-repeat 0 51px;
    }

    &--2 {
      margin-top: 10px;
      background: url(../images/idea_tab_2.jpg) no-repeat 0 51px;
      margin-bottom: 0;
    }
  }

  .idea__block--1 .idea__caption {
    width: 302px;
    margin-left: auto;
  }

  .idea__block--1 .idea__description-block {
    margin-top: -20px;
    background-color: rgba(255, 255, 255, 0.15);
  }

  .idea__block--1 .idea__description {
    padding-left: 72px;
    padding-top: 61px;
    padding-bottom: 18px;
  }

  .idea__block--2 .idea__description {
    padding-right: 72px;
    padding-bottom: 18px;
  }

  .idea__button {
    margin-left: 74px;
    margin-bottom: 50px;
  }

  .idea__block--2 .idea__button {
    margin-left: 70px;
  }

  .idea__block--2 .idea__caption {
    &::after {
      border: 10px solid transparent;
      border-left: 10px solid #2e2e2e;
      border-top: 10px solid #2e2e2e;
      bottom: -13px;
      left: 122px;


    }
  }
}

@media (min-width: 1920px) {
  .idea {
    width: 1180px;
  }

  .idea__block {
    width: 590px;

    &--1 {
      background: url(../images/idea_desk_1.jpg) no-repeat 0 39px;
    }

    &--2 {
      margin-top: 29px;
      background: url(../images/idea_desk_2.jpg) no-repeat 0 50px;

    }
  }

  .idea__header {
    width: 1920px;
    margin-bottom: 13px;

  }

  .idea__description-block {
    min-height: 477px;
  }

  .idea__block--2 .idea__description-block {
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .idea__block--1 .idea__description-block {
    margin-top: 0;

  }

  .idea__block--1 .idea__caption {
    width: 450px;
    margin-left: auto;
    margin-top: 0;
    padding-left: 20px;

    & br {
      display: none;
    }
  }

  .idea__block--2 .idea__caption {
    padding: 10px 10px 11px 12px;
  }

  .idea__block--1 .idea__description {

    padding: 20px 80px 19px 140px;

  }

  .idea__block--2 .idea__description {

    padding: 13px 200px 27px 20px;

  }

  .idea__button {
    margin-left: 140px;
    margin-bottom: 50px;
  }

  .idea__block--2 .idea__button {
    margin-left: 20px;
  }
}
