.main-header {
  min-height: 310px;
  width: 320px;
  background-image: url("../images/upload/main-header-back.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: @white;

}

.main-header__title {
  font-family: @main-font;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}
