.main-header {
  min-height: 310px;
  width: 320px;
  background-image: url("../images/upload/main-header-back.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: @white;
  position: relative;
  margin-bottom: -10px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 62px;
    background-image: url("../images/header-rect.svg");
    background-repeat: no-repeat;
    width: 220px;
    height: 220px;
    z-index: 1;
  }
}

.main-header__text {
  z-index: 5;
  font-family: @main-font;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;

  &--upper {
    z-index: 5;
    font-family: @main-font;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .main-header__suggest {
    color: @link-yellow;
    text-decoration: underline;
  }
}


.main-header__title {
  font-family: @main-font-semi;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 45px;
  margin-bottom: 6px;
}


@media (min-width: @tablet-width) {

  .main-header {

    width: 768px;
    margin: 0 auto;
    min-height: 525px;
    background-image: url("../images/upload/main-header-back-tablet.jpg");

  &::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 235px;
    background-image: url("../images/header-rect-tablet.svg");
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    z-index: 1;

  }
}

.text-br {
  display: none;
}
  .main-header__title {
    font-size: 35px;
    line-height: 42px;
    padding-top: 72px;
    margin-bottom: 5px;
  }

  .main-header__text--upper {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
  }

  .main-header__text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: @desktop-width) {

  .main-header {
    min-height: 1158px;
    width: @desktop-width;
    margin: 0 auto;
    background-image: url("../images/upload/main-header-back-desk.jpg");

  &::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 750px;
    background-image: url("../images/header-rect-desk.svg");
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    z-index: 1;

  }
}

  .main-header__title {
    font-size: 55px;
    line-height: 66px;
    padding-top: 180px;
    margin-bottom: 7px;
  }

  .main-header__text--upper {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 50px;
  }

  .main-header__text {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: -4px;
  }

  .text-br {
    display: none;
  }
}
