.portfolio {
  width: 100%;
  background-color: #e9ebef;
}

.portfolio__header {
  display: none;
}

.portfolio__main-wrapper {
  width: 320px;
  padding: 0 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.portfolio__block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.portfolio__wrapper {
  display: flex;
  flex-direction: column;
}

.portfolio__image {
  margin-bottom: 7px;
  width: 300px;

  &--1 {
    height: 250px;
  }
  &--2 {
    height: 250px;
  }
  &--3 {
    height: 150px;
  }
  &--4 {
    height: 250px;
    margin-bottom: 12px;
  }
  &--6 {
    height: 158px;
  }
}

.portfolio__button {
  font-family: @Exo2;
  background-color: #ffffff;
  width: 180px;
  border: 1px solid #f79a0c;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #f79a0c;
  padding: 9px 0 10px 0;
  margin-top: 15px;
  margin-bottom: 20px;
}

.none {
  display: none;
}

@media (min-width: 768px) {
  .portfolio__main-wrapper {
    width: 768px;
    padding-top: 39px;
  }

  .none {
    display: block;
  }

  .portfolio__block {
    width: 620px;

    &--2 {
      margin-top: -86px;
    }
  }

  .portfolio__wrapper--1 {
    margin-left: 19px;
  }

  .portfolio__wrapper--2 {
    margin-right: 19px;
  }

  .portfolio__image {
    margin-bottom: 22px;

    &--1 {
      width: 620px;
      height: 292px;
    }
    &--2 {
      height: 342px;
    }
    &--3 {
      height: 158px;
    }
    &--4 {
      height: 245px;
    }
    &--5 {
      height: 245px;
    }
    &--6 {
      height: 158px;
    }
    &--7 {
      margin-top: 84px;
      height: 342px;
    }
    &--8 {
      width: 620px;
      height: 292px;
    }
  }

  .portfolio__block--2 .portfolio__image:last-of-type {
    margin-bottom: 0;
  }

  .portfolio__button {
    margin-top: 20px;
    margin-bottom: 71px;
  }
}

@media (min-width: 1920px) {
  .portfolio {
    margin-top: -269px;
  }

  .portfolio__header {
    display: block;
    width: 1920px;
    text-align: center;
    margin: 32px 0 22px 0;
  }

  .portfolio__main-wrapper {
    padding: 0;
    padding-top: 337px;
    width: 1180px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio__block {
    width: 580px;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;
  }

  .portfolio__block--2 {
    margin-left: 20px;
    margin-top: 43px;
  }

  .portfolio__wrapper {
    margin: 0;
  }

  .portfolio__image {
    width: 280px;

    &--1 {
      width: 580px;
      height: 274px;
    }
    &--2 {
      height: 320px;
    }
    &--3 {
      height: 148px;
    }
    &--4 {
      height: 230px;
    }
    &--5 {
      height: 230px;
    }
    &--6 {
      height: 148px;
    }
    &--7 {
      margin-top: 80px;
      height: 320px;
    }
    &--8 {
      width: 580px;
      height: 274px;
    }
  }

  .portfolio__button {
    margin-top: 48px;
    margin-bottom: 85px;
  }

  .portfolio__block--1 {
    padding-bottom: 21px;
  }
}
